


<body>
<div class="wrapper instructor-page">
  <h2>Namsaknoi</h2>
  <img class="instructor-img" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Namsaknoi_Yudthagarngamtorn_-_Muay_Thai.jpg" alt="Namsaknoi" width="250" height="300">

  <p>Namsaknoi is a retired Muay Thai fighter from Thailand. He holds one of the highest winning percentages (95% wins in 300 fights), and one of the longest reigns as a Lumpinee Stadium Champion in history, remaining undefeated for the 135 lbs title between 2000–2006.</p>

  <div class="text-center">
    <button (click)="getSessions()">Current Availability</button>
  </div>
  <h2>Buakaw</h2>
  <img class="instructor-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Picbuakaw.jpg/1280px-Picbuakaw.jpg" alt="Buakaw" width="250" height="300">

  <!--	<button>Current availability</button> -->

  <p>Buakaw is the former two-time Omnoi Stadium champion, Lumpinee Stadium Toyota Marathon champion, Thailand Featherweight champion and two time K-1 World MAX champion. As of 1 September 2018, he is ranked the #10 lightweight in the world by Combat Press.</p>
</div><!--/wrapper-->
</body>

